<launch>
<!-- Declaring Machines -->
    <group>
    	<machine
            name="main"
            address="192.168.0.10"
            env-loader="/home/ubuntu/catkin_ws/devel/setup.bash"
            default="true"
            user="ubuntu"
        />
    
        <!-- Include Files -->
            <include file="$(find ft_industry4_raspi)/src/main/ft_industry4_params.launch" />
    </group>

    <machine
        name="hbw"
        address="192.168.0.12"
        env-loader="/home/ubuntu/env_hbw.sh"
        default="true"
        user="ubuntu"
    />

    <machine
        name="vgr"
        address="192.168.0.13"
        env-loader="/home/ubuntu/env_vgr.sh"
        default="true"
        user="ubuntu"
    />

    <machine
        name="sld"
        address="192.168.0.14"
        env-loader="/home/ubuntu/env_sld.sh"
        default="true"
        user="ubuntu"
    />

<!-- Declaring Nodes -->
    
    <node machine="main" pkg="ft_industry4_raspi" name="status_update" type="status_update.py">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="57600"/>
    </node>

    <node machine="hbw" pkg="rosserial_python" name="hbw_node" type="serial_node.py">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="57600"/>
    </node>

    <node machine="vgr" pkg="rosserial_python" name="vgr_node" type="serial_node.py">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="57600"/>
    </node>
    
    <node machine="sld" pkg="rosserial_python" name="sld_node" type="serial_node.py">
	<param name="port" value="/dev/ttyACM0"/>
	<param name="baud" value="57600"/>
    </node>
    
</launch>
